
<div class="cart" style="float: right">
    <span class="caption">
        <em>Your cart:</em>
        <span data-bind="text: CartQuantity"></span> item(s)
        <span data-bind="text: CartTotal"></span>
    </span>
</div>
